[Unit]
Description=Update /etc/wireguard/wg0.conf from https://github.comyamaoka-kitaguchi-lab/wireguard-peering

[Service]
Type=simple
ExecStart=/bin/bash /etc/systemd/system/update-wireguard-peers.sh

[Install]
WantedBy=default.target
