[Unit]
Description=Update /etc/wireguard/wg0.conf from https://github.comyamaoka-kitaguchi-lab/wireguard-peering (every 1 min)

[Timer]
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target
